#app {
    margin: 140px auto 70px auto;
    max-width: 950px;
    padding: 0 10px;
}

button {
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

button * {
    font-size: 18px;
    height: 18px;
    margin: 0 0 -3px 0;
}

button:hover {
    color:rgb(255, 123, 145);
    transition: all .2s ease-in-out;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    padding: 0;
}

input {
    display: block;
    margin: 10px auto;
    width: 85%;
    padding: 13px;
    border: 0;
    border-bottom: 2px solid rgba(255, 123, 145, .5);
}

h2 {
    text-align: center;
}