.form {
    max-width: 550px;
    margin: 70px auto;
}

.form button {
    width: 90%;
    margin: 5%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 5px;
}